<tr>
  <td>
    <%= language.name %>
  </td>
  <td>
    <%= link_to "detail", admin_language_path(language) %>
    | <%= link_to "edit", edit_admin_language_path(language) %>
    | <%= link_to "delete", admin_language_path(language), data: {method: :delete, confirm: "Are you sure?"} %>
  </td>
</tr>
