<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>
    <%= t("question.label.edit_question") %>    
    </h3>    
    <%= render "form", action: t("action.update") %>
  </div>
</div>
