<div class="row white-container">
  <div class="col-md-8 col-md-offset-2 well">
    <h3>
    <%= t("question.label.edit_question") %>    
    </h3>    
    <%= render "form", action: t("action.update") %>
  </div>
</div>
