<div class="row white-container">
  <div class="col-md-8 col-md-offset-2 well">
    <h3><%= t("question.label.new_question") %></h3>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
