<div class="row">  
  <div class="col-md-12">
    <legend>Recent Video</legend>
    <%= render @videos %>
  </div>
  <div class="col-md-12">
    <legend>Recent Article</legend>
    <%= render @articles %>
  </div>
</div>
