<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="">
  </a>
  <div class="media-body well">
    <p class="media-heading">Start Bootstrap
      <%= time_ago_in_words comment.created_at %> ago
    </p>
    <hr/>
    <%= simple_format comment.content %>
    <% if comment.ancestor_ids.count < 3 %>
      <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], parent_id: comment) %>
    <% end %>
    <%= render comment.children %>
  </div>
</div>    
