<div class="row">
  <div class="col-md-12 well">
    <%= link_to t("link.back"), :back %>    
    <legend><h4><%= t("admin.articles.label.edit_article") %></h4></legend>
    <%= render "form", action: t("action.update") %>
  </div>
</div>
