<div class="row">
  <div class="col-md-12 well">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <legend><center><%= t("admin.articles.label.edit_article") %></center></legend>
    <%= render "form", action: t("action.update") %>
  </div>
</div>
