<div class="row video">
  <div class="col-md-3 screenshot">
    <%= image_tag "screencast.png" %>
  </div>
  <div class="col-md-9">
    <h2><%= video.title %></h2>
    <%= video.description %>
  </div>
</div>
