<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <legend><center><%= t("admin.tags.label.new_tag") %></center></legend>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
