<div class="col-md-10 col-md-offset-1 error-page-404">
  <div class="col-md-10 col-md-offset-1 error-404-title">
    <h1 class="center"><%= t("page_error.title_404") %></h1>
  </div>
  <div class="col-md-12 error-content">
    <p><%= t("page_error.content_404") %></p>
  </div>
</div>
