<div class="col-md-10 col-md-offset-1 error-page-404">
  <div class="col-md-10 col-md-offset-1 error-404-title">
    <center><h1><%= t("page_error.title_500") %></h1></center>
  </div>
  <div class="col-md-12 error-content">
    <p><%= t("page_error.content_500") %></p>
  </div>
</div>
