<% if I18n.locale == :en %>
  <div class="col-md-10 col-md-offset-1 error-page-404">
    <div class="col-md-10 col-md-offset-1 error-404-title">
      <center><h1>We're sorry, but something went wrong.</h1></center>
    </div>
    <div class="col-md-12 error-content">
      <p>It looks like we have problems on this link. Maybe try one of other links or a search?</p>
    </div>
  </div>
<% else %>
  <div class="col-md-10 col-md-offset-1 error-page-404">
    <div class="col-md-10 col-md-offset-1 error-404-title">
      <center><h1>We're sorry, but something went wrong.</h1></center>
    </div>
    <div class="col-md-12 error-content">
      <p>It looks like we have problems on this link. Maybe try one of other links or a search?</p>
    </div>
  </div>
<% end %>
