<div class="row">
  <div class="col-md-12 well">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <legend><h3><%= t("question.label.edit_question") %></h3></legend>    
    <%= render "form", action: t("action.update") %>
  </div>
</div>
