<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @activities.each do |activity| %>
      <%= ActivityPresenter.new(activity, self).render_activity %>      
    <% end %>
    <%= will_paginate @activities %>
  </div>
</div>
