<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <legend><%= t("admin.activities.label.all_activity") %></legend>
    <% @activities.each do |activity| %>
      <div class="activity">
        <%= ActivityPresenter.new(activity, self).render_activity %>
        
        <span class="pull-right text-muted small"><em><%= time_ago_in_words activity.created_at %></em>
        </span>
      </div>    
    <% end %>
    <%= will_paginate @activities %>
  </div>
</div>
