@import "bootstrap";
@import "font-awesome";
$question-color: #009659;
$video-color: #F39532;
$article-color: #337ab7;
.navbar {
  border-radius: 0px;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 65%;
        padding-left:0;
        padding-right:0;
    }

  .logo {
    min-height: 100px;
    width: 100%;
  }

  .admin-head {
    margin-top: 65px;
    min-height: 600px;
    background: #FFF;
    color: #222;
  }

  .image-logo {    
    margin-top: 0px;    
    padding-bottom: 0px;
  }
}
@media(min-width:768px) {

  .navbar .navbar-form {
        width: 75%;
      input[type=text]:focus {
        width: 240px;
        // background-color: green;
      }
    }

  .logo {
    min-height: 100px;
    width: 100%;
  }

  .admin-head {
    margin-top: 50px;
    padding-top: 5px;
    margin-left: 220px;
    min-height: 600px;
    background: #FFF;
    color: #222;
  }

  .image-logo {    
    margin-top: -30px;    
    padding-bottom: 0px;
  }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


footer {
  clear: both;
  font-size: 11px;
  text-align: center;
  padding: 25px 0;
  color: #555;
}

.video, .question, .article {
  padding-bottom: 18px;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
.screenshot {
  float: left;
  width: 205px;
}

.video-info {
  margin-top: -20px;
  .info {
    color: #999;
    font-size: 12px;
  }
}

.acticle-info {
  color: #999;
  font-size: 12px;  
}

.btn-read-video {
  margin-top: 5px;  
}

.code_block {
  margin: 12px 0;
  clear: both;
}

.code_header {
  position: relative;
  background-color: #E0E0E0;
  font-size: 12px;
  padding: 4px 7px;
  border: solid 1px #b6b6b6;
  border-bottom: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;    
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.subscript {
  ul {
    list-style: none;
    li {
      float: right;
      position: relative;
      margin-left: 8px;
    }
  }
}

.fa-facebook-square, .facebook {
  color: #3b5998;
}

.fa-twitter-square, .twitter {
  color: #00aced;
}

.fa-youtube, .fa-youtube-square {
  color: #bb0000;
}

.fa-github-square {
  color: #4183C4;
}

.fa-google_oauth2-square {
  @extend .fa-google-plus-square;
  color:  #dd4b39;
}
.comment-heading{
    padding: 5px 14px;
  font-size: 12px;
  background-color: #DDD;
  border: solid 1px #bbb;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.comment_content {
  padding: 1px 15px;
  background-color: #FFF;
  border: solid 1px #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.btn-reply {
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  border: 1px solid #337ab7;;  
}

td{
  padding: 8px 15px 0px 15px;
}

.video_wrapper {
  border: solid 2px #777;
  margin-bottom: 14px;
}

.activity {
  border-bottom: solid 1px #ccc;
  padding: 16px 0;
}

.message {
  color:red;
}

.huge {
    font-size: 40px;
}

h1, h2, h3, h4, h5, h6, a, p {
  word-wrap: break-word;
}

.clear_float {
  clear: both;
}

.user-page-nav {
  border-bottom: 4px #00A9D4 solid;
  border-top: 2px #FAFFBD solid;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #00A9D4;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #FFF;
  background-color: #00A9D4;
}

.navbar-inverse .navbar-nav > li.video-menu > a:hover {
  color: #FFF;
  background-color: $video-color;
}
.navbar-inverse .navbar-nav > li.article-menu > a:hover {
  color: #FFF;
  background-color: $article-color;
}
.navbar-inverse .navbar-nav > li.question-menu > a:hover {
  color: #FFF;
  background-color: $question-color;
}
.user-page-nav-videos {  
  border-bottom: 4px $video-color solid;
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $video-color;
  }
}

.user-page-nav-articles {  
  border-bottom: 4px $article-color solid;
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $article-color;
  }
}

.user-page-nav-questions {  
  border-bottom: 4px $question-color solid;
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $question-color;
  }
}

body {
  background: #222;
  color: white;
  overflow-x: hidden;
}
.logo {
  background: #FFF;
  color: black;
}

.application {
  min-height: 600px;
  background: #eee;
  color: #222;
  margin-top: -20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.white-container {
  padding: 10px;
  background: #FFF;
  margin-bottom: 20px;
}

.similar-video {
  margin-bottom: 15px;  
}

.new-question {
  margin-bottom: 10px;
  padding: 0;
}

.panel {
  margin-bottom: 15px;  
  ul {
    // list-style: none;
    padding-left: 15px;
  }
} 

.panel-question {
  border-color: $question-color;
  .panel-head-question {
    color: #FFFFFF;
    background-color: $question-color;
    border-color: $question-color;
  }
}

.panel-video {
  border-color: $video-color;
  .panel-head-video {
    color: #FFFFFF;
    background-color: $video-color;
    border-color: $video-color;
  }
}

.panel-tag {
  border-color: #00A9D4;
  .panel-head-tag {
    color: #FFFFFF;
    background-color: #00A9D4;
    border-color: #00A9D4;
  }
}

.btn-top {
  margin-top: 5px;
}
