<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= link_to t("link.back"), :back %>
    <legend><%= t("admin.user.label.new_user") %></legend>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
