<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <legend><center><%= t("admin.user.label.new_user") %></center></legend>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
