<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to "Back", :back %>
    <center><u><h4>New User</h4></u></center>
    <%= render "form", action: "Create" %>
  </div>
</div>
