<div class="form-group">  
  <%= f.text_field :title, class: "form-control", placeholder: UsefullLink.human_attribute_name(:title) %>  
  <%= f.text_field :link, class: "form-control", placeholder: UsefullLink.human_attribute_name(:link) %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields t("link.remove"), f %>
</div>
