<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to t("link.back"), :back %>
    <center><h4><%= t("admin.videos.label.new_video") %></h4></center>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
