<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <center><h4><%= t("admin.videos.label.new_video") %></h4></center>
    <%= render "form", action: t("action.create") %>
  </div>
</div>
