<div class="logo">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <!-- <img src="dddd"> -->
         </div>
         <div class="col-md-8">
            
         </div>
      </div>
   </div>
</div>
<div class="navbar navbar-inverse">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand hidden-xs" href="#">Kh It</a>
         <a class="navbar-brand visible-xs" href="#">KH</a>
         <form class="navbar-form pull-left" role="search">
            <div class="input-group">              
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                     <i class="fa fa-search fa-lg"></i>
                  </button>
               </div>
            </div>
         </form>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Browse Courses</a></li>          
            <li><a href="#contact">Play List</a></li>            
         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>
